.bg-white {
  background-color: #fff !important;
}

.btn {
  border: none !important;
  outline: none !important;
  padding: 0.875rem 2.25rem;
  border-radius: 10px;
  font-size: 0.87rem;
  letter-spacing: -0.02em;
  line-height: 71%;
  font-weight: 500;
  background-color: #ececec;
  color: #222;
  cursor: pointer;
}

.btn.btn-primary {
  background-color: #07f;
  color: #fff;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-frame {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 4px #fff;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}

.profile-image {
  object-fit: cover;
}

.ReactModal__Content {
  background-color: #000 !important;
  border: none !important;
  border-radius: 12px !important;
}

.camera-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

#silhouette {
  position: absolute;
  width: 80%;
  max-width: 320px;
  height: auto;
  z-index: 20;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#silhouette.grayscale {
  filter: grayscale(100%);
}

.action-btn-container {
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 100;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.action-button {
  background-color: #acacac;
  border-radius: 100%;
  border: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

#video {
  position: absolute;
  width: 100%;
  max-width: 750px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#final-image-canvas {
  position: absolute;
  width: 100%;
  max-width: 750px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

#face-api-canvas {
  position: absolute;
  width: 100%;
  max-width: 750px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
}
